<!DOCTYPE html>
<html>
  <head>
    <title>Wordoftruth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render('layouts/google_analytics') %>
  </head>

  <body>
    <div id="main-width" class="container mt-2">
      <div class='box-1'>
        <%= link_to image_tag('WOTBC-LOGO.svg', width: 500, class: 'my-4 mx-auto d-block'), root_path %>
        <%= link_to 'Donate', donate_path, class: 'red-btn' %>
      </div>
      
      <%= render('layouts/navigation') %>
      <%= yield %>
    </div>
  </body>
</html>
